@charset "UTF-8";

*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 200%;
	width: 100%;	
}

.logo{
	width: 110px;
	height: 75px;
	border-radius: 10px;
}

ul{
	padding-left: 20px;
}

