@charset "UTF-8";

body {
	width:100%;
	height:100%;
	background-color:black;
}

.genre{
	border: 1px solid gray;
}
h1 {
	text-align: center;
	color:white;
	width:100%;
	height:100px;
}
select {
    min-width: 100px;
    
  }
.viewimage {/* 
		width:100%;
	height:100%; */
	
	display: none;
}
.ulclass .hidden{
	position:absolute;
}
.hidden {	
	display:none;
	position:fixed; 
}



.button {
	width:250px;
	margin:auto;
	color:white;
	/* height:100px; */
	text-align: center;
	margin:auto;
	
}
.button1{
	width:50%;
	text-align: center;
	float:left;
}
.genre{
	height:100px;
	margin:auto;
	text-align: center;
	color:black;
}
.image {
	width:100%;
	height:100%;
/* 	transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out; */
	/* text-align: center; */
	 margin: 0px auto; 
	 overflow: hidden;
	  position:relative;  
}
.image img {
  transition: 0.3s;
   overflow: hidden;
    text-align: center; 
 	width:200px;
	height:300px; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 0 6px #555;
	/* position:relative;  */
   
   /* padding : 10px 10px 10px 10px; */
  
} 

ul {
	overflow: hidden;
	width:100%;
	height:100%;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.wrap{
	width:100%;
	height:100%;
	overflow:hidden;
}

.image li{
	display: inline;
	margin-right:20px;
  list-style:none;
    position:relative;   
   overflow: hidden;
   border-radius: 15px;
}
.image a{
	overflow:hidden;
	border-radius: 15px;
	text-align: center; 
	  position:relative;  
	  width:100%;
	  height:100%;
	
}
.image li:hover img,.image li:focus{ 
/* 	opacity: 0.5; */
	transform: scale(1.2);
	background-color: rgba(0,0,0,0.7);
	opacity:0.2; 
/* 	overflow: hidden;
	background-color:rgba(0,0,0,0.1);
  transition: background 1s ease-out; */
  
}

*{
	padding:0;
	margin:0;
}
.image .user-image {
	overflow:hidden;
}
.image .text {
height: 250px;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;

  color: #fff; text-align: center;
  line-height: 50px;
  opacity: 0; /* 처음엔 안보이고 */

  transition: 0.3s;
  color:black;
} 

.image li:hover .text{
	opacity:1;
} 
 .w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    /* cursor: pointer; */
}
/* linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    ); */
.w-btn-neon2 {
    position: relative;
    border: none;
    min-width: 200px;
    min-height: 50px;
    background:black; 
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;
}

.w-btn-neon2:hover {
    transform: scale(1.2);
}

.w-btn-neon2:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid black;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
input[type="checkbox"] {
  zoom: 1.5;
}

